<h1>Most recent pictures</h1>

<ul>
  <% @most_recent_pictures.each do |picture| %>
    <li><%= picture.title %></li>
    <%= link_to(image_tag(picture.url), "/pictures/#{picture.id}") %>
  <% end %>
</ul>

<h1>Pictures older than 1 month</h1>
<ul>
  <% @older_than_month.each do |picture| %>
    <li><%= picture.title %></li>
    <%= link_to(image_tag(picture.url), picture_path(picture)) %>
  <% end %>
</ul>

<% @years.keys.each do |year|%>
<h1> Pictures for <%= year %></h1>
<ul>
  <% @years[year].each do |picture| %>
    <li><%= picture.title %></li>
    <%= link_to(image_tag(picture.url), picture_path(picture)) %>
  <% end %>
</ul>
<% end %>
